In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Fortune_10.csv")
data

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [3]:
data.replace(to_replace="Health",value="good")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,good,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,good,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,good,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,good,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,good,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
data.replace("Health","good")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,good,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,good,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,good,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,good,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,good,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
data.replace([1,2,3,4,5],"NO")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,NO,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,NO,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,NO,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,NO,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,NO,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
data.replace([1,2,3,4,5],[11,12,13,14,15])

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,11,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,12,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,13,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,14,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,15,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [7]:
data.replace({"ID":2},20)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,20,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [8]:
data.replace({"ID":2,"Profit":5274553},20)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",20,30%
1,20,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [9]:
data.replace('[A-Za-z]',0,regex=True)

   ID  Name  Industry  Inception       Revenue  Expenses    Profit Growth
0   1     0         0       2009  $11,757,018        0.0   5274553    30%
1   2     0         0       2010  $12,329,371        0.0  11412916    20%
2   3     0         0       2012  $10,597,009        0.0   3005820     7%
3   4     0         0       2013  $14,026,934        0.0   6597557    26%
4   5     0         0       2009  $10,573,990        0.0   3138627     8%
5   6     0         0       2006  $13,898,119        0.0   8427816    23%
6   7     0         0       2010   $9,254,614        0.0   3005116     6%
7   8     0         0       2009   $9,451,943        0.0   5573830     4%
8   9     0         0       2011  $14,001,180        NaN  11901180    18%
9  10     0         0       2011  $11,088,336        0.0   5453060     7%

In [10]:
data.replace({'Name':'[A-Za-z]'},0,regex=True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,0,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,0,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,0,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,0,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,0,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,0,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,0,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,0,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,0,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,0,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
data.replace("Health",method="ffill")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [12]:
data.replace("Health",method="bfill")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,IT Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
data.replace("Health",method="ffill",limit=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [14]:
data.replace("Health",method="ffill",limit=10)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
data.replace("Health","Good",inplace=True)
data

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Good,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Good,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Good,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Good,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Good,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [16]:
data

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Good,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Good,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Good,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Good,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Good,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%